<%- include("header", {}) %>
<h1 id="titulo"><%= title %></h1>
<div><%- content %></div>
<script type="text/javascript">
    function click_here(button_id)
    {
        alert("id:"+ button_id);
    }
  </script>
<%- include("footer", {}) %>