<%- include("header", {}) %>
    <h1 id="titulo">
        <%= title %>
    </h1>
    <div id="general">

        <div id="derchJugador" class="caja">
            <h2 id="titleJugador"></h2>
            <img id="imgJugador" height="270" width="180" src="">
            <p id="pJugador"></p>


        </div>
        <div id="izqJugador" class="caja">
            <div>
                <a class="twitter-timeline" href="https://twitter.com/ESPNDeportes?ref_src=twsrc%5Etfw">Tweets by ESPNDeportes</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>         </div>

            </div>
    </div>


    <script type="text/javascript" src="\javascripts\referenteCompletar.js"></script>
    <%- include("footer", {}) %>