    <div class="footer">
        <footer class="footer-distributed">
			<div class="footer-right">
				<a href="#"><i class="fa">&#xf09a;</i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>
			<div class="footer-left">
				<p class="footer-links">
					<a class="link-1" href="#">Sobre nosotros</a>
					<a href="#">Iniciación</a>
					<a href="#">Tienda deportiva</a>
					<a href="#">Noticas y eventos</a>
					<a href="#">Referentes deportivos</a>
				</p>
				<p>SPRINT Company &copy; 2023</p>
			</div>
            <i class="fa fa-twitter">
    </div>
</div> 
</body>
</html>