<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  </head>
  <body>
    <div class="topnav">
        <div class="left">
            <a href="/">
                <img src="/images/tipografia.png" alt="Logo SPRINT" width="160px" height="40px"></img>
            </a>
            <a href="/">Sobre nosotros</a>
            <a href="#">Iniciación</a>
            <a href="#">Tienda deportiva</a>
            <a href="#">Noticias y eventos</a>
            <a href="#">Referentes deportivos</a>
            <!--<a href="#">
                <i id="icono" class='far'>&#xf2bd;</i>
            </a>-->
            <div class="dropdown">
                <button class="dropbtn">
                    <i id="icono" class='far'>&#xf2bd;</i>
                    <!--<i class="fa fa-caret-down"></i>-->
                </button>
                <div class="dropdown-content">
                    <a href="#">Inicia sesión</a>
                    <a href="#">Regístrate</a>
                    <a href="#">Cerrar sesión</a>
                </div>
            </div>          
        </div>
    </div>
    <div class="container">
