<%- include("header", {}) %>
<h1><%= title %></h1>
<p>Bienvenido a <%= title %></p>
<div class="align">
    <div class="image">
      <img src="/images/deportes.png" alt="Diferentes deportes">
    </div>
    <div class="text">
      <h1>Paris is one of the most beautiful cities in France.</h1>
    </div>
</div>
<div class="bg-image p-5 text-center shadow-1-strong rounded mb-3 text-white" style="background-image: url('/images/deportes.jpg');width:100%;height:200px">
    <h1 id="textoimg" class="mb-3 h2" style="text-align:right;color:white;padding-bottom:20px;">Hola</h1>
</div>
<%- include("footer", {}) %>
