<%- include("header", {}) %>
    <h1 id="titulo">
        <%= title %>
    </h1>

    
    <div class="deporte" id="futbol"> 
        <div class="tituloDeporte">
            <h1>Fútbol</h1>
            <img src="/images/facil.png" alt="fificultad fácil" width="110" height="50">
        </div>
        <div class="contenido">
            <p>
                El fútbol puede ser el deporte más popular de todos. Sin dudarlo, este deporte de equipo despierta un gran compañerismo y amistad entre sus jugadores. Es un deporte tan extendido que es muy fácil practicarlo, apto para cualquier edad, existen escuelas y clubes en multitud de ubicaciones. Atrévete a coger el balón!
            </p>
        </div>
    </div>
    
    <div class="deporte" id="baloncesto"> 
        <div class="tituloDeporte">
            <h1>Baloncesto</h1>
            <img src="/images/facil.png" alt="dificultad fácil" width="110" height="50">
        </div>
        <div class="contenido">
            <p>
                Tú junto con cuatro compañeros en la cancha y un equipo a tus espaldas para derrotar al rival. Sin duda este deporte tiene un aura especial: la presión y tensión de marcar en los últimos segundos, el espíritu de compañerismo y la gran voluntad de todo un equipo. Tan solo necesitas un balón de baloncesto, una canasta y muchas ganas!
            </p>
        </div>
    </div>
    
    <div class="deporte" id="tenis"> 
        <div class="tituloDeporte">
            <h1>Tenis</h1>
            <img src="/images/media.png" alt="dificultad media" width="110" height="50">
        </div>
        <div class="contenido">
            <p>
                El deporte de las grandes estrellas, 1 vs 1, máxima tensión y diversión pero también un gran sacrificio. Se puede jugar en modalidad individual o en dobles. Es el deporte perfecto para crear nuevas amistades, ¿quién no quiere quedar a jugar unos restos con su amigo?
            </p>
        </div>
    </div>

    <div class="deporte" id="boxeo"> 
        <div class="tituloDeporte">
            <h1>Boxeo</h1>
            <img src="/images/dificil.png" alt="dificultad difícil" width="110" height="50">
        </div>
        <div class="contenido">
            <p>
                ¿Eres de esas personas inquietas y que tienen que liberar tensión? No lo pienses más, este es tu deporte. Libérate esa tensión con un saco de boxeo, y si eres atrevido, puedes lanzarte a boxear con un compañero, e incluso si se te da bien, apuntarte a campeonatos. Existen varias modalidades, encuentra la tuya!
            </p>
        </div>
    </div>

    <div class="deporte" id="badminton"> 
        <div class="tituloDeporte">
            <h1>Bádminton</h1>
            <img src="/images/facil.png" alt="dificultad fácil" width="110" height="50">
        </div>
        <div class="contenido">
            <p>
                El deporte más entretenido para jugar en familia y con niños. En el parque, la piscina, la playa, donde quieras. Diversión y risas aseguradas. Cada vez tiene más fama este deporte en la sociedad, y si lo juegas bien, es un espectáculo.
            </p>
        </div>
    </div>
    









    <%- include("footer", {}) %>