<%- include("header", {}) %>
    <h1 id="titulo">
        <%= title %>
    </h1>


    <div class="urgente">
        <p class="parpadea text2"><strong>Última Hora: Muere Pelé a los 82 años</strong></p>
    </div>

    <div class="noticiero">


        <div class="noticiaTablon" id="noticiaPrincipal">

            <div class="noticiaPrin"> 
                <div class="tituloNoticiaPrincipal">
                    <h1><b>Fallece el tres veces ganador del mundo, Pelé, a los 82 años</b></h1>
                </div>
                <div class="subtitulo">
                    <h3>
                        Edson Arantes do Nascimento ha fallecido a los 82 años de edad. Pelé, como era conocida la leyenda del fútbol brasileño, sufría un cáncer de colon desde 2021 y llevaba un mes hospitalizado en Sao Paulo después de que el tratamiento de quimioterapia no provocara ya ningún efecto. Al no ser ya eficiente, fue sustituido por uno paliativo para calmar los dolores y permitirle respirar con mayor facilidad. El astro murió rodeado de su familia, que le arropó hasta su último respiro.
                    </h3>
                </div>
                <div class="contenido">
                    <img src="/images/noticiaPrincipal.jpg" alt="imagen noticia principal" width="550">
                </div>
            </div>

        </div>
        
        
        <div class="noticiaTablon">

            <div class="noticia"> 
                <div class="tituloNoticia">
                    <h1>Ven a correr la San Silvestre Vallecana</h1>
                </div>
                <div class="subtitulo">
                    <h3>La Vallecana es única. Atrévete a vivirla por ti mismo. La carrera, de diez kilómetros de recorrido, saldrá de los aledaños del estadio Santiago Bernabéu, desde la Avenida Concha Espina, y concluirá en la calle Candilejas del barrio de Vallecas.                         La San Silvestre Vallecana es la carrera más multitudinaria de España de diez kilómetros.
                    </h3>
                </div>
            </div>

            <div class="noticia"> 
                <div class="tituloNoticia">
                    <h1>España gana el Eurobasket por cuarta vez en toda su historia</h1>
                </div>
                <div class="subtitulo">
                    <h3>El baloncesto nacional vio este 2022 cómo la selección conquistó el 18 de septiembre una de las mayores gestas del deporte español, al imponerse a Francia (88-76) en la final del Eurobasket para llevarse el oro. La pizarra de Sergio Scariolo fue clave durante un torneo en el que España tumbó a Alemania en semifinales, a Finlandia en cuartos y a Lituania en octavos de final.
                    </h3>
                </div>
            </div>

            <div class="noticia"> 
                <div class="tituloNoticia">
                    <h1>Roger Federer se retira del tenis</h1>
                </div>
                <div class="subtitulo">
                    <h3>Tenista suizo que se retira a los 42 años. Considerado el mejor tenista de toda la historia en pistas de hierba y uno de los mejores de todos los tiempos. Alcanza un total de 20 Grand Slam, solo superado por Djokovic y Nadal, lo que lo sitúa en el tercer lugar del palmarés.Ganó el Abierto de Australia seis veces, el Torneo de Roland Garros en una ocasión, el Campeonato de Wimbledon en ocho ocasiones y el Abierto de Estados Unidos en cinco ocasiones. Conquistó en seis veces el ATP Finals, convirtiéndose en el jugador más exitoso de la historia del torneo. Fue número uno del mundo durante 310 semanas. Alcanzó el oro en los Juegos Olímpicos de Pekín de 2008.
                    </h3>
                </div>
            </div>

            
        </div>


    </div>
    
    
    



<%- include("footer", {}) %>