<%- include("header", {}) %>
    <h1 id="titulo">
    </h1>

    <link rel="stylesheet" href="/stylesheets/noticiaConcreta.css">
    <div id="noticiaGeneral">
        <h1 id="titleNews"></h1>
    </div>

    <div id="bodyNews">
        <p id="newsSum"></p>
        <img id="imgNews" height="360" width="580" src="">
    </div>
    
    <div id="newsDescribe">
        <p id="newsDes"></p>
    </div>


    <script type="text/javascript" src="\javascripts\noticiaCompletar.js"></script>
<%- include("footer", {}) %>
