<%- include("header", {}) %>
  <h1 id="titulo"> <%= title %> </h1>

  <div class="contenedor">
      
    <div class="container-card" id="contGeneralRef">
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180" src="https://cdn.fansshare.com/photos/ikercasillas/full-iker-casillas-diving-save-797890895.jpg" alt="Avatar" style="width:100%">
      </figure>
      <div class="contenido-card">
        <h3 id="nombre">Iker Casillas</h3>
        <p>Iker Casillas Fernández es un exfutbolista español que jugaba como portero. Fue internacional absoluto
          con España desde 2000 hasta 2016 y capitán desde 2006 hasta 2016.</p>
        <button id="boton" value="IkerCasillas">Ver más</button>
      </div>
    </div>
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
            src="https://arxiu.fcbarcelona.cat/web/thumbnails/199_150/Imatges/2008-2009/futbol/noticies/jugadors/iniesta/INIESTA_copia.jpg"
            alt="Card image cap">
      </figure>
      <div class="contenido-card">
        <h3 id="nombre">Andrés Iniesta</h3>
        <p>Andrés Iniesta Luján, más conocido simplemente como Iniesta, es un futbolista español que juega como
          centrocampista en el Vissel Kobe de la J1 League de Japón</p>
        <button id="boton" value="Andrés Iniesta">Ver más</button>

      </div>
    </div>
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
            src="https://www.lavanguardia.com/files/content_image_mobile_filter/uploads/2020/03/25/5f15f0f636887.jpeg"
            alt="Card image cap">
      </figure>
      <div class="contenido-card col-4">
        <h3 id="nombre">Xavi Hernandez</h3>
        <p>Xavier Hernández Creus, conocido como Xavi, es un exfutbolista y entrenador español, actualmente dirige
          al F. C. Barcelona de la Primera División de España.</p>
        <button id="boton" value="Xavi Hernandez">Ver más</button>

      </div>
    </div>

    <div class="card">
        <figure class = "formatoFotoCard">
          <img height="270" width="180"
            src="https://pbs.twimg.com/media/FhyOc82XoAEVj4Z?format=jpg&name=900x900" alt="Card image cap">
        </figure>
        <div class="contenido-card col-4">
          <h3 id="nombre">Sergio Ramos</h3>
          <p>Sergio Ramos García es un futbolista español que juega como defensa en el Paris Saint-Germain F. C. de la
            Ligue 1 de Francia.</p>
          <button id="boton" value="Sergio Ramos">Ver más</button>
        </div>
      </div>
  </div>
  
  <div class="container-card" id="contGeneralRef">
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
            src="https://estaticos-cdn.epe.es/clip/643257de-e126-47af-9752-bbbb61afc104_alta-libre-aspect-ratio_default_0.jpg"
            alt="Card image cap">
      </figure>
      <div class="contenido-card">
        <h3 id="nombre">Pau Gasol</h3>
        <p>Pau Gasol Sáez ​​ es un exjugador español de baloncesto que disputó 18 temporadas en la NBA, donde fue
          dos veces campeón, y otras 3 en el FC Barcelona.</p>
          <button id="boton" value="Pau Gasol">Ver más</button>
      </div>
    </div>
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
            src="https://www.solobasket.com/sites/default/files/giannis-antetokounmpo-los-bucks-abruman-al-magic.jpeg"
            alt="Card image cap">
      </figure>
      <div class="contenido-card">
        <h3 id="nombre">Giannis Antetokoumpo I</h3>
        <p>Giannis Ougko Antetokounmpo es un baloncestista griego de ascendencia nigeriana que pertenece a la
          plantilla de los Milwaukee Bucks de la NBA.</p>
          <button id="boton" value="Giannis Antetokoun I">Ver más</button>
      </div>
    </div>
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Carmelo_Anthony_-_51958670372_%28cropped%29.jpg/1200px-Carmelo_Anthony_-_51958670372_%28cropped%29.jpg"
        alt="Card image cap">
      </figure>
      <div class="contenido-card col-4">
        <h3 id="nombre">Carmelo Anthony</h3>
        <p>Carmelo Kyam Anthony es un baloncestista estadounidense que se encuentra sin equipo.</p>
        <button id="boton" value="Carmelo Anthony">Ver más</button>      
      </div>
    </div>

    <div class="card">
        <figure class = "formatoFotoCard">
          <img height="270" width="180"
          src="https://www.westhawaiitoday.com/wp-content/uploads/2020/07/AP20185682936969.jpg"
          alt="Card image cap">        </figure>
        <div class="contenido-card col-4">
          <h3 id="nombre">Anthony Davis</h3>
          <p>Anthony Marshon Davis, Jr. es un jugador profesional de baloncesto estadounidense que actualmente milita
            en Los Angeles Lakers de la NBA.</p>
            <button id="boton" value="Anthony Davis">Ver más</button>      
          </div>
          </div>
      </div>
  </div>

  <div class="container-card" id="contGeneralRef">
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
        src="https://cadenaser.com/resizer/WpJxhUczn7TkZQbOtzqbxRiBAco=/556x556/filters:format(jpg):quality(70)/cloudfront-eu-central-1.images.arcpublishing.com/prisaradio/MJIXERFVFBAMLDVS5BXFDOB3ZM.jpg"
        alt="Card image cap">
      </figure>
      <div class="contenido-card">
        <h3 id="nombre">Rafa Nadal</h3>
        <p>Rafa Nadal es un tenista profesional español que ocupa la segunda posición del ranking ATP.​ Está
          considerado como el mejor tenista de la historia en pistas de tierra batida​​​ y uno de los mejores de
          todos los tiempos.</p>
          <button id="boton" value="Rafa Nadal">Ver más</button>
      </div>
    </div>
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
              src="https://thumbs.dreamstime.com/b/ganador-de-djokovic-de-la-taza-de-rogers-2012-3-26123471.jpg"
              alt="Card image cap">
      </figure>
      <div class="contenido-card">
        <h3 id="nombre">Novak Djokovic</h3>
        <p>Novak Djokovic es un tenista profesional serbio que ocupa la quinta posición del ranking ATP. Es
          considerado como el mejor tenista de toda la historia en pista dura y uno de los mejores de todos los
          tiempos.</p>
          <button id="boton" value="Novak Djokovic">Ver más</button>
      </div>
    </div>
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
              src="https://images.ecestaticos.com/FKq5KvSE1EjWU9NoRs56ZVn-OdI=/186x4:2201x1515/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F9bb%2Fefb%2F11d%2F9bbefb11d48296de51bc34b35aa231d2.jpg"
              alt="Card image cap">
      </figure>
      <div class="contenido-card col-4">
        <h3 id="nombre">Carlos Alcaraz</h3>
        <p>Carlos Alcaraz Garfia ​ es un tenista español, desde el 12 de septiembre de 2022 está situado en la
          primera posición del ranking ATP y es el vigente campeón del Abierto de Estados Unidos.​</p>
          <button id="boton" value="Carlos Alcaraz">Ver más</button>
      </div>
    </div>

    <div class="card">
        <figure class = "formatoFotoCard">
          <img height="270" width="180"
              src="https://upload.wikimedia.org/wikipedia/commons/2/26/Ruud_RG22_%2858%29_%2852144535415%29.jpg"
              alt="Card image cap">
        </figure>
        <div class="contenido-card col-4">
          <h3 id="nombre">Casper Ruud</h3>
          <p>Casper Ruud es un tenista profesional noruego. Es el primer noruego en ganar un torneo ATP.</p>
          <button id="boton" value="Casper Ruud">Ver más</button>
        </div>
      </div>
  </div>


  <div class="container-card" id="contGeneralRef">
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
              src="https://www.formacionacadef.es/wp-content/uploads/2021/05/Jugadores-mas-importantes-de-badminton-en-la-historia.jpg"
              alt="Card image cap">
      </figure>
      <div class="contenido-card">
        <h3 id="nombre">LIN DAN</h3>
        <p>Es considerado el mejor jugador en la historia del bádminton anunció su retiro en julio del 2020 a sus
          36 años.</p>
          <button id="boton" value="LIN DAN">Ver más</button>
      </div>
    </div>
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
        src="https://www.formacionacadef.es/wp-content/uploads/2021/05/Rudy-Hartono-badminton.jpg"
        alt="Card image cap">      </figure>
      <div class="contenido-card">
        <h3 id="nombre">RUDY HARTONO</h3>
        <p>Es considerado por muchos cómo el mejor jugador de Bádminton de todos los tiempos es el indonesio Rudy
          Hartono.</p>
          <button id="boton" value="RUDY HARTONO">Ver más</button>
      </div>
    </div>
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
              src="https://www.formacionacadef.es/wp-content/uploads/2021/05/Erland-Kops-198x300.jpg"
              alt="Card image cap">
      </figure>
      <div class="contenido-card col-4">
        <h3 id="nombre">ERLAND KOPS</h3>
        <p>Ernald Kops fue un jugador de bádminton danés quien se dedicó profesionalmente a la disciplina durante
          los años 50 y 60.</p>
          <button id="boton" value="ERLAND KOPS">Ver más</button>
      </div>
    </div>

    <div class="card">
        <figure class = "formatoFotoCard">
          <img height="270" width="180"
          src="https://www.formacionacadef.es/wp-content/uploads/2021/05/Peter-gade-200x300.jpg"
          alt="Card image cap">
        </figure>
        <div class="contenido-card col-4">
          <h3 id="nombre">PETER GADE</h3>
          <p>Otro de los jugadores más importantes de bádminton en la historia es el danés Peter Høeg Gade. Nacido
            en la ciudad de Aalborg el 14 de diciembre de 1976. Ha conseguido una gran cantidad de títulos.</p>
            <button id="boton" value="PETER GADE">Ver más</button>
        </div>
      </div>
  </div>

  <div class="container-card" id="contGeneralRef">
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
              src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/floyd-mayweather-jr-celebrates-his-unanimous-decision-news-photo-1600687144.jpg?crop=0.66553xw:1xh;center,top&resize=640:*"
              alt="Card image cap">
      </figure>
      <div class="contenido-card">
        <h3 id="nombre">Floyd Mayweather Jr</h3>
        <p>Campeón Mundial Welter CMB, AMB y The Ring. Dueño de Mayweather Promotions.</p>
        <button id="boton" value="Floyd Mayweather Jr">Ver más</button>
      </div>
    </div>
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
              src="https://media.gettyimages.com/id/183201309/es/foto/miguel-cotto-reacts-to-winning-a-super-welterweight-bout-against-delvin-rodriguez-at-amway.jpg?s=594x594&w=gi&k=20&c=IqN0x8tmNL7B5bl-v93gCWTnoC5kKeCDUCtx7mGGvTg="
              alt="Card image cap">
      </figure>
      <div class="contenido-card">
        <h3 id="nombre">Miguel Cotto</h3>
        <p>Es un exboxeador profesional criado en Caguas, Puerto Rico.</p>
        <button id="boton" value="Miguel Cotto">Ver más</button>
      </div>
    </div>
  
    <div class="card">
      <figure class = "formatoFotoCard">
        <img height="270" width="180"
              src="https://images.squarespace-cdn.com/content/v1/5d3d604f1c3c2e00014fe64d/1633146119664-AY4ZCIVT6R99U58CHMCD/usykjosh.jpg"
              alt="Card image cap">
      </figure>
      <div class="contenido-card col-4">
        <h3 id="nombre">Oleksandr Usyk</h3>
        <p>Es un boxeador profesional ucraniano. Es campeón mundial en dos categorías de peso.​</p>
        <button id="boton" value="Oleksandr Usyk">Ver más</button>
      </div>
    </div>

    <div class="card">
        <figure class = "formatoFotoCard">
          <img height="270" width="180"
              src="https://boxeodecolombia.com/wp-content/uploads/2021/12/Naoya-Inoue.png" alt="Card image cap">
        </figure>
        <div class="contenido-card col-4">
          <h3 id="nombre">Naoya Inoue</h3>
          <p>Naoya Inoue es un boxeador profesional japonés. Es considerado actualmente como el mejor boxeador en la
            historia de Japón.</p>
            <button id="boton" value="Naoya Inoue">Ver más</button>
        </div>
      </div>
  </div>

</div>

  <script type="text/javascript"
    src="\javascripts\referentes.js"></script>


  <%- include("footer", {}) %>