<%- include("header", {}) %>
<h1 id="titulo"><%= title %></h1>
<div class="signupFrm">
  <form id="formReg" action="/registro" method="post">
    <div class="imgcontainer">
      <img src="/images/registro.png" alt="Avatar" class="avatar">
    </div>
    <div class="container">
      <i style='font-size:15px' class='fas'>&#xf2c2;</i>
      <label for="name" form="formReg"><b>Nombre*</b>
         <!--required-->
        <input id="name" class="input" type="text" placeholder="Introduzca su nombre" name="name">
      </label>
      <i style='font-size:15px' class='fas'>&#xf2c2;</i>
      <label for="ap1" form="formReg"><b>Primer apellido*</b>
        <!--required-->
        <input id="ap1" class="input" type="text" placeholder="Introduzca su primer apellido" name="ap1" >
      </label>
      <i style='font-size:15px' class='fas'>&#xf2c2;</i>
      <label for="ap2" form="formReg"><b>Segundo apellido</b>
        <input id="ap2" class="input" type="text" placeholder="Introduzca su segundo apellido" name="ap2">
      </label>
      <i style='font-size:15px' class='fas'>&#xf406;</i>
      <label for="username" form="formReg"><b>Nombre de usuario*</b>
        <!--required-->
        <input id="username" class="input" type="text" placeholder="Introduzca un nombre para su cuenta" name="username" >
      </label>
      <label for="tipoUsuario">
        <i style='font-size:15px' class='fas'>&#xf406;</i>
        <b>Seleccione un perfil de usuario:</b>
      </label>
      <select onchange="selector()" id="tipoUsuario" class="input" name="tipoUsuario" form="formReg">
        <option value="Estándar">Estándar (usuario gratuito)</option>
        <option value="Premium">Premium (usuario de pago)</option>
      </select>

      <div id="correoPremium">
      <i style='font-size:15px' class='fas'>&#xf406;</i>
      <label id="correoLabel" for="correo" form="formReg"><b>Correo Electrónico</b>
        <input id="correo" class="input" placeholder="Introduzca un correo" name="correo">
      </label>
    </div>
      <label id="error3">Error. El email ingresado no es correcto.</label>

      <i style='font-size:15px' class='fas'>&#xf023;</i>
      <label for="pass1" form="formReg"><b>Contraseña</b>

        <li class="tooltip" id="errorContra">
          <i class='fas fa-info-circle'></i> 
          <span class="tooltiptext">La contraseña tiene que tener mínimo 8 caracteres, con al menos un número y con al menos una mayúscula. </span>
        </li>
  
        <!--required-->
        <input id="pass1" class="input" type="password" placeholder="Introduzca una contraseña" name="pass1" >
      </label>
      <i style='font-size:15px' class='fas'>&#xf023;</i>
      <label for="pass2" form="formReg"><b>Repetir contraseña</b>
        <!--required-->
        <input id="pass2" class="input" type="password" placeholder="Repetir contraseña" name="pass2" >
      </label>   

      <label id="error">Error. La contraseña tiene que ser igual.</label>
      <label id="error1">Error. La contraseña tiene que tener al menos 8 dígitos.</label>
      <label id="error2">Error. La contraseña tiene que tener al menos una mayúscula.</label>
      <label id="error4">Error. La contraseña tiene que tener al menos un número.</label>


      <button id="botonForm" type="submit">Enviar</button>
      
    </div>
  </form>
</div>

<script src="/javascripts/comprobaciones.js"></script>

<%- include("footer", {}) %>