#titleNews {
    font-size: 40px;
}

#imgNews {
    margin-left: 50%;
}

#newsSum {
    position: absolute;
    margin-top: 20px;
    width: 60%;
    margin: 1% 1%;
    margin-left: 1px;
}

#newsDescribe {
    padding-top: 20px;
    padding-bottom: 20px;
}