* {
  box-sizing: border-box;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#titulo{
  font: 40px "Brush Script";
  font-style: oblique;
  font-weight: bold;
}


h2{
  font: 30px "Brush Script";
  font-style: oblique;
  background-color:rgb(147, 217, 186);
  border-radius: 20px;
  text-align: center;
}

p{
  text-align: justify;
  text-justify: inter-word;
  font: 20px "Brush Script";
}

.message {
  margin-top: 15px;
  padding: 5px;
  background-color: #27a857;
  color: white;
  border-radius: 10px;
}

.alert {
  margin-top: 15px;
  padding: 5px;
  background-color: #f44336;
  color: white;
  border-radius: 10px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.topnav {
  background-color: rgb(73, 73, 73);
  border-radius: 25px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px 8px 18px;
  line-height: 40px;
  font-size: 18px;
  /*font-size: 20px;*/
  text-decoration: none;
  font-weight: bold;
}

.left {
  display: flex;
  gap: 30px;
}

.right {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  border-radius: 20px;
  color: black;
}

#icono {
  font-size: 36px;
}

.dropdown {
  float: right;
  overflow: hidden;
  padding-left: 20px;
  padding-top: 15px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content h4{
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(66, 161, 234);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  text-align: center;
  background: rgb(73, 73, 73);
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 40px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: rgb(73, 73, 73);
  box-shadow: 0 1px 1px 0 rgb(73, 73, 73);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 15px 40px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 6px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}



