#imagenTienda{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 0;
    height: 150px
}

#fichas{
  height: 350px;
}

#contGeneral{
  padding-left: 1px;
}

.linkProductos:link { text-decoration:none; color: black;} 
.linkProductos:visited { text-decoration:none; color: black;} 
