#imagenTienda{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
}

#fichas{
  height: 400px;
}
/*.card,  .text-center, .border-info{
      
    box-shadow: 0px 0px 5px 1px rgb(205, 200, 200);
    padding-right: 10px;
    padding-left: 10px;
    border: red 5px none;
    padding-top: 20px;
    border-radius: 5px;
    cursor: default;
    transition: all 400ms ease;
    width: 180px;
  }

  .card:hover{
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }

  .zoom {
      transition: transform .2s; 
  }

  .zoom:hover {
     transform: scale(1.2); 
  }

  .container{
    padding-top: 50px;
  }

  #ingresarProducto {
    width: 236px;
  }

  #divBuscadorTienda{
    width: 340px;
    float: right;
  }
*/
